{% assign lang = page.lang | default: site.default_lang %}
{% assign prefix = '' %}
{% if lang != 'en' %}{% assign prefix = lang | prepend: '/' %}{% endif %}
<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone.size > 0 %}
    <div class="call-phone"><strong>{% if lang == 'zh' %}电话: {% else %}Phone: {% endif %}</strong>{{ site.data.contact.phone }}</div>
    {% endif %}
    {% if site.data.contact.email.size > 0 %}
    <div class="call-email"><strong>{% if lang == 'zh' %}邮箱: {% else %}Email: {% endif %}</strong>
      <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
    </div>
    {% endif %}
  </div>
  {% if include.show_button %}
    <div class="call-box-bottom">
      <a href="{{ prefix | append: '/contact/' | relative_url }}" class="button">{% if lang == 'zh' %}联系方式{% else %}CONTACT{% endif %}</a>
    </div>
  {% endif %}
</div>
