<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign lang = page.lang | default: site.default_lang %}
  {% assign mainmenu = site.data.menus[lang].main | sort: 'weight' %}
  {% assign prefix = '' %}
  {% if lang != 'en' %}{% assign prefix = lang | prepend: '/' %}{% endif %}
  <ul>
    {% for item in mainmenu %}
    {% if item.skip_prefix %}{% assign item_url = item.url %}{% else %}{% assign item_url = prefix | append: item.url %}{% endif %}
    <li class="{% if page.url == item_url or page.url contains item_url %}active{% endif %}">
      <a href="{{ item_url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% include language-switcher.html %}
</div>
