<div id="main-menu" class="main-menu">
  {% assign lang = page.lang | default: site.default_lang %}
  {% assign mainmenu = site.data.menus[lang].main | sort: 'weight' %}
  {% assign prefix = '' %}
  {% if lang != 'en' %}{% assign prefix = lang | prepend: '/' %}{% endif %}
  <ul>
    {% for item in mainmenu %}
    {% assign item_url = prefix | append: item.url %}
    <li class="{% if page.url == item_url or page.url contains item_url %}active{% endif %}">
      <a href="{{ item_url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
