---
layout: default
bodyClass: "page-document"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">{{content}}</div>
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ page.title | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  {% if page.description %}"description": {{ page.description | jsonify }},{% endif %}
  "inLanguage": {{ page.lang | default: 'en' | jsonify }},
  "author": { "@type": "Organization", "name": {{ site.title | jsonify }} },
  "publisher": { "@type": "Organization", "name": {{ site.title | jsonify }}, "logo": { "@type": "ImageObject", "url": {{ '/images/logo/logo.svg' | absolute_url | jsonify }} } },
  "mainEntityOfPage": { "@type": "WebPage", "@id": {{ page.url | absolute_url | jsonify }} }
}
</script>
